<h2>Most popular projects: </h2>
<form id="filter">
  <label>Filter projects by repository id:</label>
  <input type="text" [(ngModel)]="term" name = "project"/>
</form>

<div class="container" *ngFor="let project of projects | idfilter: term"> 
    <div class="single-project">

   <button class="accordion">
      {{project.full_name}} <span>ID: {{project.id}}</span>
   </button>
   <br/>
   <div class="accordion-content">
      <span id = "contents">
          <b id = "stars">Stars:</b> <span class= "info">{{project.stargazers_count}}</span>
          <br/> 
          Date created:<span class = "info">{{project.created_at}}</span> <br/> 
          Last pushed:<span class = "info">{{project.pushed_at}}</span> <br/> 
          Description:<span class = "info">{{project.description}}</span>
        </span>
   </div>
  </div>
</div>